body {
  font-family: 'Merriweather', serif;
  background-color: #f9f9f9;
  color: #333;
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

.btn-dark {
  border-radius: 20px;
  font-size: 0.9rem;
}
